{% extends "account/accounts_base.html" %}

{% block head_title %}Before we get started...{% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block body %}
<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}">
        </a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h3 class="card-title">Just a couple more questions...</h3>
                    <form id="onboard_form" method="post">
                        {% csrf_token %}
                        <p>In which timezone would you like to view employee hours?</p>
                        <p>{% render_field form.timezone class="form-control" %}</p>
                        <p>Which of the following employees are you?</p>
                        <p>{% render_field form.employees class="form-control" %}</p>
                        <p>On which frequency are your pay periods?</p>
                        <p>{% render_field form.pay_periods class="form-control" %}</p>
                        <p>Select the date your <b>current</b> pay period began:</p>
                        <p>{% render_field form.reference_date class="form-control" type="date" %}</p>

                        <button type="submit" class="btn btn-success btn-block">Submit &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}