{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card bg-light mt-5">
                <div class="card-header">
                    <h3>{{ user.profile.name }}'s Timecard</h3>
                    <form method="get">
                        <div class="input-group">
                            {% if request.GET %}
                            <input class="form-control" type="date" name="start" value="{{ request.GET.start }}">
                            {% else %}
                            <input class="form-control" type="date" name="start">
                            {% endif %}
                            <span class="input-group-text"> - </span>
                            {% if request.GET %}
                            <input class="form-control" type="date" name="end" value="{{ request.GET.end }}">
                            {% else %}
                            <input class="form-control" type="date" name="end">
                            {% endif %}

                            <button class="btn btn-success" type="submit">Submit &raquo;</button>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Clock In</th>
                                <th scope="col">Clock Out</th>
                                <th scope="col">Hours</th>
                                <th scope="col">Store</th>
                            </tr>
                        </thead>
                        {% for shift in shifts %}
                            <tr>
                                <td>{{ shift.check_in|date:"D M d g:i A" }}</td>
                                <td>{{ shift.check_out|date:"D M d g:i A" }}</td>
                                <td>{{ shift.shift_time|floatformat:2 }}</td>
                                <td>{{ shift.shop }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-primary">
                            <td>Total Hours</td>
                            <td></td>
                            <td>{{ totals.total|floatformat:2 }}</td>
                            <td></td>
                        </tr>
                        {% for shop, hours in totals.items %}
                            {% if not forloop.first %}
                                <tr class="table-primary">
                                    <td>{{ shop }}</td>
                                    <td></td>
                                    <td>{{ hours|floatformat:2 }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}