{% extends 'base.html' %}

{% block employee_hours %}
{% load tz %}
{% localtime on %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>My Shifts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="get">
                <p>
                    {% if request.GET %}
                    <input type="date" name="start" value="{{ request.GET.start }}">
                    {% else %}
                    <input type="date" name="start">
                    {% endif %}
                    -
                    {% if request.GET %}
                    <input type="date" name="end" value="{{ request.GET.end }}">
                    {% else %}
                    <input type="date" name="end">
                    {% endif %}

                    <button type="submit">Submit</button>
                </p>
            </form>
            <b>Totals</b>
            {% for shop, hours in employee_hours.total_hours.items %}
                <p>{{ shop }}: {{ hours }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>Punch In</th>
                    <th>Punch Out</th>
                    <th>Hours</th>
                    <th>Location</th>
                </tr>
                {% for shift in employee_hours.shifts %}
                <tr>
                    <td>{{ shift.check_in|date:"D M d g:i A" }}</td>
                    <td>{{ shift.check_out|date:"D M d g:i A"  }}</td>
                    <td>{{ shift.hours }}</td>
                    <td>{{ shift.shop }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endlocaltime %}
{% endblock %}