{% extends 'base.html' %}

{% block manager_dash %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>All Shifts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="get">
                <p>
                    {% if request.GET %}
                    <input type="date" name="start" value="{{ request.GET.start }}">
                    {% else %}
                    <input type="date" name="start">
                    {% endif %}
                    -
                    {% if request.GET %}
                    <input type="date" name="end" value="{{ request.GET.end }}">
                    {% else %}
                    <input type="date" name="end">
                    {% endif %}

                    <button type="submit">Submit</button>
                </p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <th>Shops</th>
                    <th></th>
                </tr>
                {% for shop, hours in employee_hours.total_hours.shops.items %}
                <tr>
                    <td>{{ shop }}</td>
                    <td>{{ hours|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <tr>
                    <th>Employees</th>
                    <th></th>
                </tr>
                {% for employee, hours in employee_hours.total_hours.employees.items %}
                <tr>
                    <td>{{ employee }}</td>
                    <td>{{ hours|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>Employee</th>
                    <th>Punch In</th>
                    <th>Punch Out</th>
                    <th>Hours</th>
                    <th>Location</th>
                </tr>
                {% for shift in employee_hours.shifts %}
                <tr>
                    <td>{{ shift.employee }}</td>
                    <td>{{ shift.check_in|date:"D M d g:i A" }}</td>
                    <td>{{ shift.check_out|date:"D M d g:i A"  }}</td>
                    <td>{{ shift.hours|floatformat:2 }}</td>
                    <td>{{ shift.shop }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}