{% extends 'base.html' %}

{% block onboardform %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Welcome to ShiftAlert! We just have a few questions...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
            {% csrf_token %}
            <p>In which timezone do you report employee hours?</p>
            {{ form.timezone }}
            <p>Which of the following employees are you?</p>
            {{ form.employee }}
            <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}