<!doctype html>
<html>

    <head>
        <title>{% block head_title %}{% endblock %}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                /* Background pattern from Toptal Subtle Patterns */
                background-image: url({% static 'img/worn_dots.png' %})
            }
        </style>

        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>