{% extends "account/accounts_base.html" %}

{% block head_title %}Change your password{% endblock %}

{% load static %}

{% block body %}
<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}">
        </a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h3 class="card-title">Success</h3>
                    <p>Your password is now changed.</p>
                    <a href="{% url 'account_login' %}"  class="btn btn-success btn-block">Login &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}