{% extends "account/accounts_base.html" %}

{% block head_title %}Change your password{% endblock %}

{% load static %}

{% block body %}
<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}">
        </a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    {% if token_fail %}
                        <h3 class="card-title">Bad Token</h3>
                        <p>The password reset link was invalid. Try <a href="{% url 'account_reset_password' %}">requesting another reset</a>.</p>
                    {% else %}
                        {% if form %}
                            <h3 class="card-title">Password Change</h3>
                            <form class="password_change" id="changepassword_form" method="post" action="{{ action_url }}">
                                {% csrf_token %}
                                {% include 'includes/form.html' %}
                                <button type="submit" class="btn btn-success btn-block">Change Password &raquo;</button>
                            </form>
                        {% else %}
                            <h3 class="card-title">Success</h3>
                            <p>Your password is now changed.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}